.circumstances__title {
    margin: 0;
    text-align: center;
    font-family: "GothamBlack1";
    text-transform: uppercase;
    font-size: 36px;
    padding-top: 60px;
}

.circumstances__wrapper {
    display: flex;
    width: 900px;
    margin: auto;
    justify-content: space-between;
}

.circumstances__img {
    width: 250px;
    height: 250px;
    background-size: contain;
    background-repeat: no-repeat;
}

.delivery > .circumstances__img {
    background-image: url('../img/delivery.png');
}

.payment > .circumstances__img {
    background-image: url('../img/payment.png');
}